<template>
  <div class="card">
    <h1>{{props.title}}</h1>
    <p>{{props.description}}</p>
    <img
      class="img"
      alt="image"
      :src="props.url"
      @click="() => emits('onCardClick', {title: props.title})"
    />
  </div>
</template>
<script setup>

const props = defineProps(['title', 'description', 'url'])

const emits = defineEmits(['onCardClick'])

</script>

<style scoped>
.card {
  border-radius: 30px;
  background-color: whitesmoke;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img {
  max-width: 200px;
  border-radius: 30px;
}
</style>
