<template>
  <div v-if="cards.length > 0" class="card-container">
    <Card
      v-for="(card, index) in cards"
      :description="card.description"
      :title="card.title"
      :url="card.url"
      :key="index"
      @on-card-click="(data) => handleDelete(index, data)"
    />
  </div>
</template>

<script setup>
import Card from '@/components/card.component.vue'
import { ref } from 'vue'

function handleDelete(index, data) {
  cards.value.splice(index, 1);
  alert(`${data.title} à bien été supprimé`);
}

const cards = ref([{
  title: 'titre 1',
  description: 'description 1',
  url: 'https://cdn.futura-sciences.com/cdn-cgi/image/width=1024,quality=50,format=auto/sources/images/dossier/773/01-intro-773.jpg'
},
  {
    title: 'titre 2',
    description: 'description 2',
    url: 'https://cdn.futura-sciences.com/cdn-cgi/image/width=1024,quality=50,format=auto/sources/images/dossier/773/01-intro-773.jpg'
  },
  {
    title: 'titre 3',
    description: 'description 3',
    url: 'https://cdn.futura-sciences.com/cdn-cgi/image/width=1024,quality=50,format=auto/sources/images/dossier/773/01-intro-773.jpg'
  },
  {
    title: 'titre 4',
    description: 'description 4',
    url: 'https://cdn.futura-sciences.com/cdn-cgi/image/width=1024,quality=50,format=auto/sources/images/dossier/773/01-intro-773.jpg'
  },
  {
    title: 'titre 5',
    description: 'description 5',
    url: 'https://cdn.futura-sciences.com/cdn-cgi/image/width=1024,quality=50,format=auto/sources/images/dossier/773/01-intro-773.jpg'
  },
  {
    title: 'titre 6',
    description: 'description 6',
    url: 'https://cdn.futura-sciences.com/cdn-cgi/image/width=1024,quality=50,format=auto/sources/images/dossier/773/01-intro-773.jpg'
  }])
</script>
<style scoped>
.card-container {
  padding: 0 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
</style>
